.modal {
  background: #ffffff;
  /* border-style: ridge; */
  border-color: #1781ff;
}
.anima {
  font-size: 42px;
  font-style: normal;
  font-weight: bolder;
  font-family:'Poppins';
  line-height: 63px;
  letter-spacing: 0em;
  color: #1781ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anima_logo {
  position: absolute;
}

.p {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 190.4%;
  color: #949494;
  padding: 20px 0px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center img{
  height:50%;
  max-heigth:120px;
  width:auto;
}
.google{
  position: absolute;
width: 184px;
height: 184px;
left: 311px;
top: 542px;

background: #FFFFFF;
/* 55 */

box-shadow: 5px 0px 11px 6px rgba(205, 205, 205, 0.24);
border-radius: 3px;
}

.button{
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  
}
.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 3px;
}

.vertical {
  border-left: 6px solid blue;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  /* border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 5%; */}


.card_div{
  padding: 20px 10px;
  height:80%;
  width:80%;
}

.card_google{
  background: #FFFFFF;
  box-shadow: 5px 0px 11px 6px rgba(205, 205, 205, 0.24);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_facebook{
  background: #4A7AFF;
  box-shadow: 5px 0px 11px 6px rgba(205, 205, 205, 0.14);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_dribble{
  background: #FE65AC;
  box-shadow: 5px 0px 11px 6px rgba(205, 205, 205, 0.14);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_behance{
  background: #0053BF;
  box-shadow: 5px 0px 11px 6px rgba(205, 205, 205, 0.14);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_typography{
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  /* identical to box height, or 133% */
    color: #FFFFFF;
}
.card_typography_google{
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  /* identical to box height, or 133% */
    color: #4A4A4A;
}





@media only screen and (min-width: 1000px) {
  .modal_body{
    height:90vh;
  }
  .card_logo_svg{
    margin: 0 auto;
    width:20%;
    height:auto;
  }
}
@media only screen and (max-width: 1000px) {
  .modal_body{
    width: 100%;
  }
  .card_logo_svg{
    margin: 0 auto;
    width:20%;
    height:auto;
  }
}


